/* Google fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Neutral color */
    color: black;
}

/* Navbar styles */
.navbar {
    background-color: #0951a3;
    color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 70px;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 70px;
    position: relative;
    width: 100%;
}

.logo-section img {
    height: 100px;
    width: auto;
    margin-left: -90px;
    margin-top: 5px;
}

.nav-section {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
}

.nav-links {
    display: flex;
    gap: 15px;
    font-size: 1.1rem;
    font-weight: 500;
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.nav-link:hover {
    transform: scale(1.15);
    background-color: whitesmoke;
    color: #0951a3;
}

.nav-link.active {
    background-color: whitesmoke;
    color: #0951a3;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* MMU Logo */
.form-logo-section img{
    height: 50px;
    width: auto;
    transform: scale(3.5);
}

/* Container for the login form */
.form-container {
    margin-top: 110px;
    margin-bottom: 30px;
    background-color: white;
    padding: 30px 60px 20px 60px;
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

/* Input fields styles */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.1em;
    outline: none;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #3498db;
    border-width: 2px;
}

/* Login button styles */
button[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}

button[type="submit"]:hover {
    background-color: #004c99;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* forgot password */
.forgot-password {
    margin-left: 10px; /* Adjust this value to create the desired gap */
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Footer link styles */
.form-footer {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 1em;
    color: #777;
}

/* Register here */
.form-footer a {
    margin-left: 10px;
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}

.form-footer a:hover {
    text-decoration: underline;
}

/* Responsive Design for smaller screens */
@media (max-width: 480px) {
    .form-container {
        padding: 30px;
        width: 90%;
    }
    h2 {
        font-size: 1.8em;
    }
}
